<div class="pdp__container">
    <p class="sub__title">About Project</p>
    <p>This software is designed to quickly search for a flower from a picture. In order to know what kind of flower you have on the picture, just upload it to the form below and see the result.</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10205.196467524662!2d28.64842805063476!3d50.24899750146588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472c6493ebf252ed%3A0xc400e72454e33b55!2sZhytomyr+State+Technological+University!5e0!3m2!1sru!2sua!4v1525094247369" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p class="sub__title">Contact Us</p>
    <ul>
      <li>E-mail: <span>ishcenko.vaduys@gmail.com</span></li>
      <li>LinkedIn: <span><a href="https://www.linkedin.com/in/igor-ischenko-7ba6459a/">Ihor.Ischenko</a></span></li>
      <li>Facebook: <span><a href="https://www.facebook.com/igor.ischenko.52">Ihor.Ischenko</a></span></li>
      <li>Google+: <span><a href="https://plus.google.com/112944386010353668778?hl=ru">Ihor.Ischenko</a></span></li>
    </ul>
</div>