<div class="pdp__container">
  <section class="about">
    <p class="sub__title">About Product</p>
    <div class="about_section">
      <img src="../../../../assets/images/mainImg.png" alt="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, earum cum? Voluptas, ullam molestias ab exercitationem fugiat excepturi iure possimus nisi similique corrupti nulla, consectetur, sint dolor deleniti perferendis autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi exercitationem eaque, asperiores vitae temporibus corrupti quo alias, deleniti debitis fuga, quas tenetur sed quisquam dolore unde velit rem eveniet quos.</p>
    </div>
  </section>
  <section class="how_to_use">
    <p class="sub__title">How to use</p>
    <div class="instruction">
      <ul>
        <li>Upload the image with mashrooms</li>
        <li>Wait 'till upload</li>
        <li>Press the button!</li>
        <li>See the result of above steps</li>
      </ul>
    </div>
  </section>
  <section class="image__checker">
      <p class="sub__title">Image Checker</p>
      <div class="image__view">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="file" id="avatar" (change)="onFileChange($event); readUrl($event)" #fileInput>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Clear Field</button>
            </div>
            <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
        </form>
        <div class="image" [ngStyle]="{'background-image': 'url(' + url + ')'}">
          <div *ngIf="!url">
            <p>You will see the image there</p>
          </div>
        </div>
      </div>
      <div class="post__data" *ngIf="postData">
          <ul>
            <li>Name: {{ postData[0].name }}</li>
            <li>Score: {{ postData[0].score }}</li>
            <li>Description: {{ postData[0].description }}</li>
          </ul>
        </div>
  </section>
</div>