<div class="pdp__container">
  <section class="about">
    <p class="sub__title">Image Classification</p>
    <div class="about_section">
      <img src="../../../../assets/images/colorful-tulip-field-flower-hd-wallpaper-1920x1200-45729.jpg" alt="">
      <p>This software is designed to quickly search for a flower from a picture. In order to know what kind of flower you have on the picture, just upload it to the form below and see the result.</p>
    </div>
  </section>
  <section class="how_to_use" name="inctruction">
    <p class="sub__title">How to use</p>
    <div class="instruction">
      <ul>
        <li>
          Upload the image with mashrooms
        </li>
        <img src="../../../../assets/images/Screenshot_3.png" alt="">
        <li>
          Wait 'till upload
        </li>
        <img src="../../../../assets/images/Screenshot_1.png" alt="">
        <li>
          Press the button!
        </li>
        <img src="../../../../assets/images/Screenshot_2.png" alt="">
        <li>
          See the result of above steps
          <img src="" alt="">
        </li>
      </ul>
    </div>
  </section>
  <section class="image__checker">
      <p class="sub__title">Image Classification</p>
      <div class="image__view">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="file" id="avatar" (change)="onFileChange($event); readUrl($event)" #fileInput>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Clear Field</button>
            </div>
            <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
            <div class="notification">*Proggresing data may take some time!</div>
        </form>
        <div class="image" [ngStyle]="{'background-image': 'url(' + url + ')'}">
          <div *ngIf="!url">
            <p>You will see the image there</p>
          </div>
        </div>
      </div>
      <div class="result__field">
        <p class="sub__title">Results</p>
        <div class="pre__results">
          <div class="reload">
           <p>There you will see your results</p>
          </div>
          <div class="post__data" *ngIf="postData">
              <ul *ngIf="hideImg">
                <li>Please select another image, this image is not trained of bad queality!</li>
              </ul>
              <div *ngIf="!hideImg">
                <ul *ngFor="let data of postData">
                  <li><button><a [routerLink]="['/mushroomdetails', data.id]">Name: {{ data.name }}</a></button></li>
                  <li><p>Score: {{ data.score }}</p></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
  </section>
</div>