<div class="pdp__container" *ngIf="formData">
  <p class="sub__title">Information about flower "{{ formData.data.title }}"</p>
  <div class="detail__container">
    <img [src]="formData.data.url" class="detail__img" alt="">
    <p class="description">{{ formData.data.description }}</p>
  </div>
  <app-spiner *ngIf="showSpinner"></app-spiner>
  <p class="sub__title">Statistics of finding flowers in different zones of Ukraine</p>
  <table class="table table-striped responstable">
      <thead>
          <tr>
              <th>Color</th>
              <th *ngIf="!showSpinner">Label</th>
              <th *ngIf="!showSpinner">Value</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pieData of sData; let i=index">
              <td><div class="color" [ngStyle]="{'background-color': colors[i]}"></div></td>
              <td [innerHTML]="pieData.label"></td>
              <td [innerHTML]="pieData.value"></td>
          </tr>
      </tbody>
  </table>  
</div>
<div class="pdp__container">
  <p class="sub__title">The schedule of flowers in different zones of Ukraine</p>
</div>
<div #detailPieChart id="pie__svg"></div>


