<header id="header">
  <div class="main__image" style="background: url('../../../../../assets/images/mainImg.png');">
    <div class="container">
        <div class="inner__text">
          <h1 class="main__text">Some text</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, ullam fuga autem facere, porro repellat quo eligendi similique, eos necessitatibus vitae animi at sapiente praesentium molestiae cupiditate delectus aliquid. Ducimus?</p>
        </div>
    </div>
    <nav>
      <ul>
        <li><a routerLink = "">Home</a></li>
        <li><a routerLink = "/statictics">Statistics</a></li>
        <li><a routerLink = "/gallery">Gallery</a></li>
        <li><a routerLink = "/about">About Us</a></li>
      </ul>
    </nav>
  </div>
</header>