<header id="header">
  <div class="main__image">
    <div class="cloud">
      <div class="container">
          <div class="inner__text">
            <h1 class="main__text">Image Classification</h1>
            <p>Enjoy open source tool for search information about a picture!</p>
            <button routerLink = "/gallery">To Gallery</button>
          </div>
      </div>
      <nav>
        <ul>
          <li><a routerLink = "">Home</a></li>
          <li><a routerLink = "/gallery">Gallery</a></li>
          <li><a routerLink = "/about">About Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>