<footer id="footer">
  <div class="container">
    <!-- <form action="">
      <div>
        <input type="text">
        <input type="text">
      </div>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <input type="submit">
    </form> -->
    <div class="social__items">
      <div class="social__item"><img src="" alt="LinkedIn"></div>
      <div class="social__item"><img src="" alt="Facebook"></div>
      <div class="social__item"><img src="" alt="Google+"></div>
    </div>
  </div>
  <div class="coopiright">
    <p>Copyright © 2016 Marcus Hansen. Designed by TemplateWire</p>
  </div>
</footer>