<footer id="footer">
  <div class="main__image">
    <div class="cloud">
      <div class="container">
        <div class="social__items">
          <div class="social__item"><a href=""><img src="../../../../../assets/images/2000px-Linkedin.svg.png" alt="LinkedIn"></a></div>
          <div class="social__item"><a href=""><img src="../../../../../assets/images/2000px-F_icon.svg.png" alt="Facebook"></a></div>
          <div class="social__item"><a href=""><img src="../../../../../assets/images/google-plus-57d9e4d53df78c9cceedc5e1.png" alt="Google+"></a></div>
        </div>
      </div>
      <div class="coopiright">
        <p>Copyright © 2018 Ihor Ischenko. Designed by Ihor Ischenko</p>
      </div>
    </div>
  </div>
</footer>